<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Григоренко С.Н.</title>
    <link href="index/index.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="../files/icons/logo_1.png" type="image/png">
</head>
<body>
<header>
    <div class="container">
        <div class="empty"></div>
        <img src="../files/icons/logotip.png" alt="" class="logo" width="130px">
        <h1 class="headerText">Одеський національний політехнічний університет</h1>
        <h1 class="headerText">Кафедра комп'ютеризованих систем управління</h1>
        <nav>
            <ul>
                <li><a href="#">Про мене</a></li>
                <li><a href="#">Мої дисципліни</a></li>
                <li><a href="#">Профорієнтація</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="content flex">
        <div class="nav">
            <div class="avatar" onclick="showPhoto(event)"></div>
            <div class="bigPhoto" hidden>
                <span class="closeAvatar">x</span>
            </div>
            <div class="transparent" hidden></div>
            <ul class="searchList">
                <li onclick="showHeading(event, 'achievements')">МОЇ ДОСЯГНЕННЯ</li>
                <li onclick="showHeading(event, 'scientific')">НАУКОВА ДІЯЛЬНІСТЬ</li>
                <li onclick="showHeading(event, 'activities')">НАУКОВА АКТИВНІСТЬ</li>
            </ul>
            <div class="up hide">
                <p class="upButton">^</p>
            </div>
        </div>
        <div class="info">
            <h1 align="center"><i>к.т.н, ст. викладач Григоренко Світлана Миколаївна</i></h1>
            <div class="achievements">
                <h2>Мої досягнення</h2>
                <p><strong>Освіта:</strong> Одеський державний політехнічний університет,2000 р.
                    Спеціальність: «Системи управління і автоматики», кваліфікація: спеціаліст
                </p>
                <p><strong>Науковий ступінь:</strong> Кандидат технічних наук,
                    спеціальність: 05.13.21 – системи захисту інформації,
                    Тема дисертації: «Підвищення ефективності виявлення порушення цілісності цифрового зображення»,
                    Диплом к.т.н
                    DK № 042296
                    від 27.04.2017
                </p>
                <p><strong>Примітки: </strong> Відповідає підпунктам, 5.2, 5.3, 5.4 пункту 5 приміток Ліцензійних умов
                    провадження освітньої діяльності закладів освіти від 30.12.2015 р. № 1187
                </p>
                <hr>
            </div>
            <div class="scientific">
                <h2>Наукова діяльність</h2>
                <p><strong>Інформація про наукову діяльність:</strong>
                <ol>
                    <li>Розвиток методу виявлення клонування в цифровому зображенні в умовах додаткових збурних дій /
                        С.М.Григоренко // Правове, нормативне та метрологічне забезпечення системи захисту інформації в
                        Україні. – 2016. – Вип. 3(31). – С. 85-98. (Directory of Open Access Journais (DOAJ), Наукова
                        періодика України, Ulrich)
                    </li>
                    <li>Задача обнаружения результатов клонирования в изображении и новый подход к ее решению в условиях
                        дополнительных возмущений / А.А.Кобозева, С.Н.Григоренко // Информационные технологии в
                        управлении, образовании, науке и промышленности: монография/ под ред. В.С. Пономаренко.–Х.:
                        Издатель Рожко С. Г., 2016.– С.300-313.
                    </li>
                    <li>Обнаружение результатов клонирования в цифровом изображении в условиях возмущающих воздействий
                        на измененное изображение / А.А.Кобозева, С.Н.Григоренко // VІІI Международная
                        научно-практическая конференция «Проблемы и перспективы развития ИТ-индустрии». - Харьков, 2016.
                        – С.42.
                    </li>
                    <li>
                        Теоретические основы нового подхода к решению задачи выявления результатов клонирования в
                        цифровом изображении, сохраненном в формате с потерями / А.А. Кобозева, С.Н.Григоренко //
                        Реєстрація, зберігання і обробка даних. – 2015. – Т.17, №4. – С.21-30.
                    </li>
                    <li>Григоренко, С.Н. Усовершенствование метода обнаружения результатов фальсификации в цифровом
                        изображении в условиях атак / А.А.Кобозева, С.Н.Григоренко // Проблемы региональной энергетики.
                        Электрон¬ный журнал Академии наук Республики Молдова. – 2016. – №2 (31). – С. 93-103. (Google
                        Scholar).
                    </li>
                    <li>Теоретичні основи методу виявлення областей клонування в цифровому зображенні в умовах збурних
                        дій / А.А.Кобозєва, С.М.Григоренко // II Міжнародна науково-практична конференція «Актуальні
                        питання забезпечення кібербезпеки та захисту інформації». - Міжгірський р-н, с. Верхнє Студене,
                        2016 р. – С.70-72.
                    </li>
                    <li>Визначення кількісних показників порушення цілісності цифрового зображення / С.М.Григоренко //
                        Перша Міжнародна
                        науково-практична конференція «Проблеми науково-технічного та правового забезпечення
                        кібербезпеки у сучасному світі «ПНПЗК-2016». – Харків, 2016. – С.19.
                    </li>
                    <li>Метод выявления нарушения целостности цифрового изображения, проведенного путем клонирования,
                        робастный к сжатию с потерями / А.А.Кобозева, И.И.Бобок, С.Н.Григоренко // 17-я Международная
                        научно-практическая конференция «Современные информационные и электронные технологии
                        «СИЭТ-2016». - Одесса, 2016.
                    </li>
                </ol>
                </p>
                <hr>
            </div>
            <div class="activities">
                <h2>Наукова та професійна активність</h2>
                <p><strong>Пояснення щодо змісту наукової та професійної активності: </strong>
                <ol>
                    <li>Розвиток методу виявлення клонування в цифровому зображенні в умовах додаткових збурних дій /
                        С.М.Григоренко // Правове, нормативне та метрологічне забезпечення системи захисту інформації в
                        Україні. – 2016. – Вип. 3(31). – С. 85-98. (Directory of Open Access Journais (DOAJ), Наукова
                        періодика України, Ulrich)
                    </li>
                    <li>Обнаружение результатов клонирования в цифровом изображении в условиях возмущающих воздействий
                        на измененное изображение / А.А.Кобозева, С.Н.Григоренко // VІІI Международная
                        научно-практическая конференция «Проблемы и перспективы развития ИТ-индустрии». - Харьков, 2016.
                        – С.42.
                    </li>
                    <li>Теоретические основы нового подхода к решению задачи выявления результатов клонирования в
                        цифровом изображении, сохраненном в формате с потерями / А.А. Кобозева, С.Н.Григоренко //
                        Реєстрація, зберігання і обробка даних. – 2015. – Т.17, №4. – С.21-30.
                    </li>
                    <li>Григоренко, С.Н. Усовершенствование метода обнаружения результатов фальсификации в цифровом
                        изображении в условиях атак / А.А.Кобозева, С.Н.Григоренко // Проблемы региональной энергетики.
                        Электрон¬ный журнал Академии наук Республики Молдова. – 2016. – №2 (31). – С. 93-103. (Google
                        Scholar).
                    </li>
                    <li>Теоретичні основи методу виявлення областей клонування в цифровому зображенні в умовах збурних
                        дій / А.А.Кобозєва, С.М.Григоренко // II Міжнародна науково-практична конференція «Актуальні
                        питання забезпечення кібербезпеки та захисту інформації». - Міжгірський р-н, с. Верхнє Студене,
                        2016 р. – С.70-72.
                    </li>
                    <li>Визначення кількісних показників порушення цілісності цифрового зображення / С.М.Григоренко //
                        Перша Міжнародна
                        науково-практична конференція «Проблеми науково-технічного та правового забезпечення
                        кібербезпеки у сучасному світі «ПНПЗК-2016». – Харків, 2016. – С.19.
                    </li>
                    <li>.Метод выявления нарушения целостности цифрового изображения, проведенного путем клонирования,
                        робастный к сжатию с потерями / А.А.Кобозева, И.И.Бобок, С.Н.Григоренко // 17-я Международная
                        научно-практическая конференция «Современные информационные и электронные и электронные
                        технологии «СИЭТ-2016». - Одесса, 2016.
                    </li>
                    <li>Разработка алгоритма для анализа яркостного искажения на цифровых изображениях / С.Н.Григоренко
                        , Д.Р.Иванов, А.В.Середа//8-а міжнародна наукова конференція студентів та молодих вчених –
                        «Сучасні інформаційні технології 2018».-Одеса,2018.
                    </li>
                    <li>Завдання виявлення результатів клонування в зображенні і новий підхід до її вирішення в умовах
                        додаткових збурень / А.А.Кобозева, С.Н.Грігоренко // Інформаційні технології в управлінні,
                        освіті, науці і промисловості: монографія / за ред. В.С. Пономаренко.-Х .: Видавець Рожко С. Г.,
                        2016.- С.300-313.
                    </li>
                </ol>
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="content hide">
        <div class="discipline">
            <ul>
                {{#each allDisciplines}}
                    <li data-discipline-id={{this._id}}>
                        {{#if ../isAdmin}}
                            <div class="disciplineName"><a
                                    href="/admin/{{this._id}}?q=description">{{this.name}}</a></div>
                            <div class="materials">
                                <a href="/admin/{{this._id}}?q=lectures">Лекционный материал</a>   |
                                <a href="/admin/{{this._id}}?q=teachingMaterial">Методический материал</a>
                            </div>
                            <input type="button" value="Удалить" onclick="deleteDiscipline(event)">
                            <input type="button" value="Редактировать" onclick="changeDiscipline(event)">
                        {{else}}
                            <div class="disciplineName"><a
                                    href="/{{this._id}}?q=description">{{this.name}}</a></div>
                            <div class="materials">
                                <a href="/{{this._id}}?q=lectures">Лекционный материал</a>   |
                                <a href="/{{this._id}}?q=teachingMaterial">Методический материал</a>
                            </div>
                        {{/if}}
                        <hr>
                    </li>
                {{/each}}
            </ul>
            {{#if isAdmin}}
                <input type="button" value="Добавить дисциплину" onclick="addDiscipline(event)">
            {{/if}}
        </div>
    </div>
    <div class="content hide">
        <h1>Робототехніка</h1>
        <div class="photo">
            <img src="../files/materials/22210154.538584.604.jpeg" alt="">
            <img src="../files/materials/IMG_2090.jpg" alt="">
            <img src="../files/materials/IMG_2092.jpg" alt="">
            <img src="../files/materials/shutterstock_1047283873-копия.jpg" alt="">
            <hr>
            <h1>Робота зі студентами</h1>
            <img src="../files/materials/IMG_3206.JPG" alt="">
            <img src="../files/materials/IMG_3161.jpg" alt="">
            <video controls="controls">
                <source src="../files/materials/IMG_3163.webm" type='video/webm; codecs="vp8, vorbis"'>
                Тег video не поддерживается вашим браузером.
                <a href="video/duel.mp4">Скачайте видео</a>.
            </video>
            <hr>
            <h1>Підготовка школярів</h1>
            <img src="../files/materials/IMG_1701.jpg" alt="">
            <div>
                {{#if isAdmin}}
                    <a href="/adminVideo" class="video">Видеоматерiали</a>
                {{else}}
                    <a href="/video" class="video">Видеоматерiали</a>
                {{/if}}
            </div>
        </div>

    </div>
</main>
<script src="../index/index.js"></script>

{{#if isAdmin}}
    <script src="../adminScripts/changeIndexDocument.js" type="text/javascript"></script>
{{/if}}
</body>
</html>